.treeselect {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.treeselect-input {
  width: 100%;
  box-sizing: border-box;
}

.treeselect-list {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  overflow-y: auto;
  background-color: white;
  position: absolute;
}

.treeselect-list-bottom {
  left: 0;
  top: 100%;
}

.treeselect-list-top {
  left: 0;
  bottom: 100%;
}

.treeselect-list-hidden {
  display: none;
}


.treeselect-group-container {

}

.treeselect-group:hover,
.treeselect-group-item:hover {
  background-color: bisque;
}

.treeselect-group,
.treeselect-group-item {
  display: flex;
  align-items: center;
}

.treeselect-group {

}

.treeselect-group-item {

}

.treeselect-item-focused {
  background-color: ghostwhite!important;
}

.treeselect-group-item-checked {
  background-color: beige;
}

.treeselect-group-icon {

}

.treeselect-group-icon::before {
  content: '\25B2';
  cursor: pointer;
}

.treeselect-group-closed .treeselect-group-icon::before {
  content: '\25BC';
}

.treeselect-group-closed ~  * {
  display: none;
}

.treeselect-checkbox-partial-checked.treeselect-checkbox::after {
  content: '\2212';
  background-color: grey;
}

.treeselect-checkbox-label {
  width: 100%;
  cursor: pointer;
}

.treeselect-checkbox {
  position: relative;
  margin: 0;
}

.treeselect-checkbox::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  background-color: white;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

input[type=checkbox]:checked::after {
  content: "\2714";
  border: none;
  background-color: grey;
}
