.treeselect-demo-slot__slot {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.treeselect-demo-slot__slot {
  color: #101010;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfbfb;
  margin: 0;
}

hr {
  margin: 30px 0;
}

.root {
  padding: 40px 20px;
}

.root__title {
  text-align: center;
  margin-top: 0;
}

.section__title {
  text-align: center;
}

.section__data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.section__select {
  width: 50%;
  max-width: 400px;
}

.section__props {
  width: 50%;
  max-width: 400px;
  border: 1px solid #e5e5e5;
  border-radius: 10px 0 0 10px;
  margin-top: 0;
  font-size: 12px;
  white-space: pre-wrap;
  max-height: 400px;
  overflow: auto;
  margin: 0;
  background-color: white;
}

@media screen and (max-width: 850px) {
  .section__data {
    flex-direction: column;
    align-items: center;
  }

  .section__select {
    width: 100%;
  }

  .section__props {
    width: 100%;
    max-width: 100%;
  }
}
