@import './input.css';
@import './list.css';

.treeselect {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.treeselect-list {
  position: absolute;
  left: 0;
  border-radius: 4px;
}

.treeselect .treeselect-list {
  position: absolute;
}

.treeselect-input--focused {
  border-color: #000000;
}

.treeselect-input--opened.treeselect-input--top {
  border-top-color: gainsboro;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.treeselect-input--opened.treeselect-input--bottom {
  border-bottom-color: gainsboro;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.treeselect-list--focused {
  border-color: #000000;
}

.treeselect-list--top,
.treeselect-list--top-to-body {
  border-bottom-color: gainsboro;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.treeselect-list--bottom,
.treeselect-list--bottom-to-body {
  border-top-color: gainsboro;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.treeselect-list--top {
  left: 0;
  bottom: 100%;
}

.treeselect-list--bottom {
  left: 0;
  top: 100%;
}
