.treeselect-list {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d7dde4;
  overflow-y: auto;
  background-color: #ffffff;
  max-height: 300px;
}

.treeselect-list__group-container {
  box-sizing: border-box;
}

.treeselect-list__item {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.treeselect-list__item--focused {
  background-color: #f0ffff!important;
}

.treeselect-list__item--hidden {
  display: none;
}

.treeselect-list__item-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.treeselect-list__item-icon svg {
  pointer-events: none;
}

.treeselect-list__item-icon:hover svg {
  stroke: red;
}

.treeselect-list__item-checkbox-container {
  width: 15px;
  height: 15px;
  min-width: 15px;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  position: relative;
  background-color: #ffffff;
  pointer-events: none;
}

.treeselect-list__item-checkbox-container svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.treeselect-list__item-checkbox {
  margin: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

.treeselect-list__item-checkbox-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.treeselect-list__item-label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  font-size: 14px;
  padding-left: 5px;
  pointer-events: none;
}

.treeselect-list__empty {
  display: flex;
  align-items: center;
}

.treeselect-list__empty--hidden {
  display: none;
}

.treeselect-list__empty-icon {
  display: flex;
  align-items: center;
}

.treeselect-list__empty-text {
  font-size: 14px;
  padding-left: 5px;
}

/* checked styles */
.treeselect-list__item .treeselect-list__item-checkbox-container svg {
  stroke: transparent;
}

.treeselect-list__item--checked .treeselect-list__item-checkbox-container svg,
.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container svg {
  stroke: #ffffff;
}

.treeselect-list__item--checked .treeselect-list__item-checkbox-container,
.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container {
  background-color: #52c67e;
}
