@import "./input/input.css";
@import "./list/list.css";

:root {
  /* Color variables – override these to customize the component */
  --treeselectjs-border-color: #d7dde4;
  --treeselectjs-bg: #ffffff;
  --treeselectjs-border-focus: #101010;
  --treeselectjs-tag-bg: #d7dde4;
  --treeselectjs-tag-bg-hover: #c5c7cb;
  --treeselectjs-tag-remove-hover: #eb4c42;
  --treeselectjs-icon: #c5c7cb;
  --treeselectjs-icon-hover: #838790;
  --treeselectjs-item-counter: #838790;
  --treeselectjs-item-focus-bg: #f0ffff;
  --treeselectjs-item-selected-bg: #e9f1f1;
  --treeselectjs-item-disabled-text: #c5cbca;
  --treeselectjs-checkbox-bg: #ffffff;
  --treeselectjs-checkbox-border-color: #d7dde4;
  --treeselectjs-checkbox-checked-bg: #52c67e;
  --treeselectjs-checkbox-checked-icon: #ffffff;
}

.treeselect {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.treeselect--disabled {
  pointer-events: none;
}

.treeselect-list {
  position: absolute;
  left: 0;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1000;
}

.treeselect .treeselect-list {
  position: absolute;
}

.treeselect .treeselect-list--static {
  position: static;
}

.treeselect-input--focused {
  border-color: var(--treeselectjs-border-focus);
}

.treeselect-input--opened.treeselect-input--top {
  border-top-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.treeselect-input--opened.treeselect-input--bottom {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.treeselect-list--focused {
  border-color: var(--treeselectjs-border-focus);
}

.treeselect-list--top,
.treeselect-list--top-to-body {
  border-bottom-color: var(--treeselectjs-border-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.treeselect-list--bottom,
.treeselect-list--bottom-to-body {
  border-top-color: var(--treeselectjs-border-color);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.treeselect-list--top {
  left: 0;
  bottom: 100%;
}

.treeselect-list--bottom {
  left: 0;
  top: 100%;
}
