.treeselect-list {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d7dde4;
  overflow-y: auto;
  background-color: #ffffff;
  max-height: 300px;
}

.treeselect-list__group-container {
  box-sizing: border-box;
}

.treeselect-list__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
}

.treeselect-list__item:focus {
  outline: none;
}

.treeselect-list__item--focused {
  background-color: #f0ffff !important;
}

.treeselect-list__item--hidden {
  display: none;
}

.treeselect-list__item-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
  min-width: 20px;
}

.treeselect-list__item-icon svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  stroke: #c5c7cb;
}

.treeselect-list__item-icon * {
  pointer-events: none;
}

.treeselect-list__item-icon:hover svg {
  stroke: #838790;
}

.treeselect-list__item-checkbox-container {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  position: relative;
  background-color: #ffffff;
  pointer-events: none;
  box-sizing: border-box;
}

.treeselect-list__item-checkbox-container svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.treeselect-list__item-checkbox {
  margin: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

.treeselect-list__item-checkbox-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: left;
}

.treeselect-list__item-label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  font-size: 14px;
  padding-left: 5px;
  pointer-events: none;
  text-align: left;
}

.treeselect-list__item-label-counter {
  margin-left: 3px;
  color: #838790;
  font-size: 13px;
}

.treeselect-list__empty {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 4px;
}

.treeselect-list__empty--hidden {
  display: none;
}

.treeselect-list__empty-icon {
  display: flex;
  align-items: center;
}

.treeselect-list__empty-text {
  font-size: 14px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.treeselect-list__slot {
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  bottom: 0;
  background-color: #ffffff;
}

/* single-select styles */
.treeselect-list.treeselect-list--single-select .treeselect-list__item-checkbox-container {
  display: none;
}

/* disabled-branch-node styles */
.treeselect-list.treeselect-list--disabled-branch-node
  .treeselect-list__item--group
  .treeselect-list__item-checkbox-container {
  display: none;
}

/* checked styles */
.treeselect-list__item--checked {
  background-color: #e9f1f1;
}

.treeselect-list.treeselect-list--single-select .treeselect-list__item--checked {
  background-color: transparent;
}

.treeselect-list.treeselect-list--single-select .treeselect-list__item--single-selected {
  background-color: #e9f1f1;
}

.treeselect-list__item .treeselect-list__item-checkbox-container svg {
  stroke: transparent;
}

.treeselect-list__item--checked .treeselect-list__item-checkbox-container svg,
.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container svg {
  stroke: #ffffff;
}

.treeselect-list__item--checked .treeselect-list__item-checkbox-container,
.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container {
  background-color: #52c67e;
}

.treeselect-list__item--disabled .treeselect-list__item-checkbox-container {
  background-color: #e9f1f1;
}

.treeselect-list__item--disabled .treeselect-list__item-label {
  color: #c5c7cb;
}
